<p>/bookers2_/app/views/users/index.html.erb　user一覧ページ</p>


<div class="container px-5 pm-0">
  <div class="row">
  <%= render 'books/book', books: @books %>
  
<div class="col-md-8 offset-md-1">

 <h2>Users</h2>
  <table class="table table-hover table-invers">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
   <% @users.each do |user| %>
    <tr>
    <td><%= image_tag user.get_profile_image(100,100)%></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show",user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>

</table>  
</div>
</div>
</div>
